{% extends 'pages.html.twig' %}
{% form_theme form 'fields.html.twig' %}
{% block title %}New Presupuesto{% endblock %}
{% block cabecera %} Presupuesto {% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item">Presupuestos</li> 
<li class="breadcrumb-item active">Nuevo</li>
{% endblock %}
{% block tablas %}{% endblock %}
