<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-lg navbar-dark">

        <div class="navbar-header">

            <a class="navbar-brand" href="{{ path('admin_pro') }}">

                <img src="{{ asset('img/logo2.png') }}" class="dark-logo">

            </a>

        </div>

    </nav>
</header>