{% extends 'base.html.twig' %}

{% block title %}New Tipoproducto{% endblock %}

{% block body %}
    <h1>Create new Tipoproducto</h1>

    {{ include('tipoproducto/_form.html.twig') }}

    <a href="{{ path('tipoproducto_index') }}">back to list</a>
{% endblock %}
