{% extends 'pages.html.twig' %}
{% form_theme form 'fields.html.twig' %}
{% block title %}New Producto{% endblock %}
{% block cabecera %} Producto {% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item">Producto</li> 
<li class="breadcrumb-item active">Actualizar</li>
{% endblock %}
{% block tablas %}{% endblock %}