{% extends 'pages.html.twig' %}
{% form_theme form 'fields.html.twig' %}
{% block title %}New Ticket{% endblock %}
{% block cabecera %} Tickets {% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item">Tickets</li> 
<li class="breadcrumb-item active">Actualizar</li>
{% endblock %}
{% block tablas %}{% endblock %}