<footer class="footer-main"> 
  <!-- footer upper -->
  <div class="footer-upper pt-40 pb-30">
    <div class="container"> 
      <!-- footer contact -->
      <ul class="footer-contact list-inline">
        <li class="list-inline-item"><a href="https://maps.app.goo.gl/WJDtn32tn7yT33LA6" target="_blank" rel="noopener"><strong>D:</strong> Avenida de Schultz 28 Bajo Gijón, 33209 Asturias</a></li>
        <li class="list-inline-item"><a href="mailto:buzon@pavimentosgijon.es"><strong>E:</strong> buzon@pavimentosgijon.es</a></li>
        <li class="list-inline-item"><a href="tel:985391326"><strong>T:</strong> 985 391 356</a></li>
      </ul>
      <!-- footer contact end --> 
      <!-- footer link -->
      <ul class="footer-link list-inline">
        <li class="list-inline-item"><a href="{{ path('homepage')}}">Inicio</a></li>
        <li class="list-inline-item"><a href="{{ path('aboutus')}}">Nosotros</a></li>
        <li class="list-inline-item"><a href="{{ path('blog')}}">Blog</a></li>
        <li class="list-inline-item"><a href="{{ path('contacto')}}">Contacta</a></li>
      </ul>
      <!-- footer link end --> 
    </div>
  </div>
  <!-- footer upper end --> 
  <!-- footer copyright -->
  <div class="footer-copyright text-center">
    <div class="container">
      <p class="mb-0">© <span class="current-year"></span> All Rights Reserved.</p>
    </div>
  </div>
  <!-- footer copyright end --> 
</footer>