{% extends 'pages.html.twig' %}
{% form_theme form 'fields.html.twig' %}
{% block title %}Tickets{% endblock %}
{% block cabecera %} Tickets {% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item">Ticket</li> 
<li class="breadcrumb-item active">Nuevo</li>
{% endblock %}
{% block tablas %}{% endblock %}