{% extends 'pages.html.twig' %}
{% form_theme form 'fields.html.twig' %}
{% block title %}New Efectivo{% endblock %}
{% block cabecera %} Efectivo {% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item">Efectivo</li> 
<li class="breadcrumb-item active">Actualizar</li>
{% endblock %}
{% block tablas %}{% endblock %}