{% extends 'pages.html.twig' %}
{% form_theme form 'fields.html.twig' %}
{% block title %}New Efectivo{% endblock %}
{% block cabecera %} Efectivo {% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item">Efectivo</li> 
<li class="breadcrumb-item active">Nuevo</li>
{% endblock %}
{% block tablas %}{% endblock %}

{#{% block body %}
    <h1>Create new Efectivo</h1>

    {{ include('efectivo/_form.html.twig') }}

    <a href="{{ path('efectivo_index') }}">back to list</a>
{% endblock %}#}
