<form method="post" action="{{ path('logs_delete', {'id': log.id}) }}" onsubmit="return confirm('Estas seguro de que quieres borrar');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ log.id) }}">
    <button class="btn">Delete</button>
</form>
