

{% extends 'base.html.twig' %}

{% block cabecera %} Sube una imagen para extraer el texto {% endblock %}
{% block breadcrumb %} <li class="breadcrumb-item active">Efectivo</li>{% endblock %}
{% block title %}Logs{% endblock %}
{% block body %}


{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Procesar imagen</button>
{{ form_end(form) }}
{% endblock %}

