<form method="post" action="{{ path('mano_obra_delete', {'id': mano_obra.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mano_obra.id) }}">
    <button class="btn">Delete</button>
</form>
