{% extends 'pages.html.twig' %}
{% form_theme form 'fields.html.twig' %}
{% block title %}Mano de obra{% endblock %}
{% block cabecera %} Mano de Obra {% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item">Manod de Obra</li> 
<li class="breadcrumb-item active">Actualizar</li>
{% endblock %}
{% block tablas %}{% endblock %}