{% extends 'pages.html.twig' %}
{% form_theme form 'fields.html.twig' %}
{% block title %}Nueva mano de obra{% endblock %}
{% block cabecera %} Mano de obra {% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item">Mano de obra</li> 
<li class="breadcrumb-item active">Nuevo</li>
{% endblock %}
{% block tablas %}{% endblock %}