<form method="post" action="{{ path('texto_mano_obra_delete', {'id': texto_mano_obra.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ texto_mano_obra.id) }}">
    <button class="btn">Delete</button>
</form>
