{% extends 'pages.html.twig' %}
{% form_theme form 'fields.html.twig' %}
{% block title %}New Forecast{% endblock %}
{% block cabecera %} Forecast {% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item">Forecast</li> 
<li class="breadcrumb-item active">Nuevo</li>
{% endblock %}
{% block tablas %}{% endblock %}