{% extends 'pages.html.twig' %}
{% form_theme form 'fields.html.twig' %}
{% block title %}New Cliente{% endblock %}
{% block cabecera %} Cliente {% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item">Cliente</li> 
<li class="breadcrumb-item active">Actualizar</li>
{% endblock %}
{% block tablas %}{% endblock %}